// Place all the styles related to the Goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goods {
  margin-bottom: 50px;
}

.new-goods {
  .errors {
    color: red;
  }

  .form {
    margin-top: 30px;
    padding-left: 20px;

    .form-buttons {
      margin-top: 15px;
    }
  }
}
